/* Global styles */
html {
    font-family: "Inter", sans-serif;
}

body {
    margin: 0;
    background-color: #e4e6e9;
    color: #2d3748;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header styles */
header {
    width: 100%;
    max-width: 800px;
    margin-top: 40px;
    background: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

/* Title bar styles*/
.page-title {
    background: linear-gradient(135deg, #0077b6, #0096c7);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 28px;
    border-radius: 8px 8px 0 0;
}

.title{
    margin-left: 20px;
}

.title h1 {
    font-size: 1.6rem;
    margin: 0;
}
.title p{
    font-size: 1.2rem;
    margin: 0;
}

.repo-link {
    background: #ffffff;
    color: #0077b6;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 16px;
    box-shadow: 0 2px 4px #2f2e2e;
}

.repo-link:hover {
    background: #0077b6;
    color: #ffffff;
}

/* Description box style*/
.page-description {
    background: #ffffff;
    padding: 24px 28px;
    border-radius: 0 0 8px 8px;
}

.page-description p {
    margin: 0;
    font-size: 1.05rem;
    line-height: 1.6;
}

/* Enhancement section styles*/
main {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.enhancement {
    background: #ffffff;
    margin-top: 12px;
    border-radius: 8px;
    padding: 20px 24px;
}

.enhancement h2 {
    margin: 0;
    font-size: 1.25rem;
    color: #023e8a;
    font-weight: 600;
}